body {
  margin: 20px;
  background-color: lightBlue;
}

#main {
  padding-bottom: 15px;
}

.center {
  text-align: center;
}

.columns-wrapper {
  display: table;
  width: 100%;
}

.columns {
  display: table-row;
}

.columns > .column {
  display: table-cell;
  vertical-align: middle;
}

.nav {
  text-align: center;
  position: fixed; 
  width: 100%; 
  bottom: 15px;
}

.nav .left {
  position: fixed;
  left: 20px;
}

.nav .right {
  position: fixed;
  right: 20px;
}

.nav span, .nav button {
  padding: 5px;
  background-color: #F8F8F8;
  border-radius: 4px;
  border: 1pt solid darkGray;
}

.nav a {
  color: black;
  text-decoration: none;
}
